/* 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
font-family: 'Noto Sans KR
font-family: 'Sacramento 
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Amatic+SC&family=Noto+Sans+KR:wght@400;500;700;900&family=Sacramento&display=swap');

html,body{margin:0; background:#f4f4f4;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style-type: none; margin:0; padding:0;}
*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
img{vertical-align: center;}
a{
    text-decoration: none;
    color:#555;
}
h6{font-family: 'Sacramento';font-weight: normal;}

