@import url("common.css");
.w100 {
  width: 100%;
  vertical-align: top;
}

header .logo {
  position: fixed;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  background-color: black;
  margin: 0 auto;
  max-width: 35em;
  -webkit-animation: switch 1s 2s forwards;
          animation: switch 1s 2s forwards;
}

header .logo path {
  fill: none;
  stroke: #EE5555;
  stroke-miterlimit: 10;
  stroke-dashoffset: 400px;
  stroke-dasharray: 400px;
  stroke-width: 2px;
  -webkit-animation: logo 5s forwards;
          animation: logo 5s forwards;
}

@-webkit-keyframes logo {
  0% {
    stroke-dashoffset: 400px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes logo {
  0% {
    stroke-dashoffset: 400px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes switch {
  100% {
    top: 5%;
    -webkit-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }
}

@keyframes switch {
  100% {
    top: 5%;
    -webkit-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }
}

header .framebox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  border: 60px solid #f4f4f4;
  border-width: 0;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  pointer-events: none;
}

header .logo:hover + .framebox {
  border-width: 90px 60px;
}

header.active .logo:hover + .framebox {
  border-width: 90px 60px 0 60px;
}

header.active .framebox {
  border-width: 90px 60px 0 60px;
}

header div.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #f4f4f4;
  text-align: center;
  display: none;
  overflow: hidden;
}

header div.nav ul {
  padding: 10% 0% 0% 0%;
}

header div.nav ul li:nth-of-type(5) {
  padding: 0;
}

header div.nav ul li {
  display: inline-block;
  text-align: center;
  padding-right: 5%;
}

header div.nav ul li a strong {
  font: 35px 'Noto Sans KR';
}

header div.nav ul li a strong:hover {
  color: #689f38;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header div.nav ul li a p {
  font: 16px 'Noto Sans KR';
}

header div.nav b {
  display: block;
  text-align: center;
  font: 35px 'Sacramento';
  padding-top: 50px;
}

main {
  position: relative;
  z-index: 2;
  -webkit-transition: .4s;
  transition: .4s;
  background: #fff;
}

main.active {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}

main section.HomE {
  overflow: hidden;
  height: 100vh;
}

main section.HomE > div:nth-of-type(1) {
  z-index: 3;
  padding: 20%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

main section.HomE > div:nth-of-type(1) p {
  font: 100px  'Bungee Shade';
  color: #ee5555;
  -webkit-transition: 1s;
  transition: 1s;
}

main section.HomE > div:nth-of-type(1) p.active {
  font: 100px  'Amatic SC';
  color: #db9b44;
  -webkit-transition: 1s;
  transition: 1s;
}

main .all {
  width: 80%;
  display: block;
  margin: 0 auto;
}

main hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0;
}

main hgroup img {
  width: 66px;
  vertical-align: middle;
}

main hgroup h1 {
  font-size: 35px;
  line-height: 24px;
  border-bottom: 1px solid black;
}

main hgroup h6 {
  font-size: 35px;
  line-height: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main article {
  width: 100%;
  color: #555;
}

main article h2 {
  color: #333;
  margin-top: 80px;
}

main section.PortfoliO {
  font-size: 20px;
}

main section.PortfoliO .IntrO h2 {
  font: 35px;
}

main section.PortfoliO .IntrO p {
  height: 70%;
  color: white;
  padding: 10%;
  width: 100%;
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/imgs/uni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main section.PortfoliO .ConcepT1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

main section.PortfoliO .ConcepT1 .H {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5% 0;
}

main section.PortfoliO .ConcepT1 .H h2 {
  font-size: 35px;
  padding-right: 5%;
}

main section.PortfoliO .ConcepT1 .left {
  width: 50%;
}

main section.PortfoliO .ConcepT1 .left .rabbit {
  text-align: center;
}

main section.PortfoliO .ConcepT1 .left .rabbit img {
  padding: 10%;
}

main section.PortfoliO .ConcepT1 .left .rabbit p {
  width: 100%;
}

main section.PortfoliO .ConcepT1 .right {
  width: 50%;
}

main section.PortfoliO .ConcepT1 .right .fire {
  padding: 10%;
  background-image: url(/imgs/bk_red.png);
  background-repeat: no-repeat;
}

main section.PortfoliO .ConcepT1 .right .fire p {
  padding: 5% 0 0 5%;
}

main section.PortfoliO .ConcepT1 .right .grabbit {
  padding: 10%;
  background-image: url(/imgs/bk_green.png);
  background-repeat: no-repeat;
}

main section.PortfoliO .ConcepT1 .right .grabbit p {
  padding: 5% 0 0 5%;
}

main section.PortfoliO .ConcepT2 {
  padding: 5%;
}

main section.PortfoliO .ConcepT2 .H {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5% 0;
}

main section.PortfoliO .ConcepT2 .H h2 {
  font-size: 35px;
  padding-right: 5%;
}

main section.PortfoliO .ConcepT2 .star {
  text-align: center;
  padding-bottom: 5%;
}

main section.PortfoliO .ConcepT2 .star div {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 5%;
}

main section.PortfoliO .ConcepT2 .LogO {
  height: 30%;
}

main section.PortfoliO .ConcepT2 .LogO div:nth-of-type(1) {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 5%;
}

main section.PortfoliO .ConcepT2 .LogO h2 {
  font: 35px;
}

main section.PortfoliO .ConcepT2 .LogO p {
  text-align: center;
}

main section.WorK .thum_body {
  padding-bottom: 100px;
}

main section.WorK .thum {
  padding: 100px 0;
}

main section.WorK .thum div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.WorK .thum div img {
  width: 60%;
}

main section.WorK .thum div .img_txt {
  display: block;
  width: 40%;
  padding: 0 5%;
}

main section.WorK .thum div .img_txt h5 {
  font-size: 90px;
  text-align: left;
}

main section.WorK .thum:nth-of-type(even) div img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main section.WorK .thum:nth-of-type(even) div .img_txt {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

main section.WorK .pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

main section.WorK .pop > div {
  background: #fff;
  padding: 100px;
  width: 90%;
  height: 80%;
}

main section.WorK .pop h4 {
  font-size: 50px;
  padding-bottom: 30px;
}

main section.WorK .pop .pop_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.WorK .pop .pop_about img {
  width: 70%;
}

main section.WorK .pop .pop_about .pop_txt {
  padding: 5%;
}

main section.WorK .pop .pop_about .pop_txt p {
  white-space: pre-line;
}

main section.WorK .pop .pop_about .pop_txt table {
  margin-top: 40px;
}

main section.WorK .pop .pop_about .pop_txt th, main section.WorK .pop .pop_about .pop_txt td {
  border-bottom: 1px solid #ddd;
  font-size: .8em;
}

main section.WorK .pop .pop_about .pop_txt th {
  text-align: left;
  padding: 20px 30px 20px 0;
}

main section.AbouT .lee {
  position: relative;
  padding-top: 50px;
}

main section.AbouT .lee::after {
  clear: both;
  display: block;
  content: '';
}

main section.AbouT .lee .left {
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
  width: 260px;
  float: left;
}

main section.AbouT .lee .left div {
  margin-top: 40px;
}

main section.AbouT .lee .left div .history_txt {
  width: 90%;
}

main section.AbouT .lee .left div .history_txt li {
  text-align: center;
  position: relative;
  border-right: black 1px solid;
  padding-bottom: 40px;
}

main section.AbouT .lee .left div .history_txt li::after {
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

main section.AbouT .lee .left div .history_txt li:last-of-type {
  border: none;
}

main section.AbouT .lee .left div .history_txt .born::after {
  background: url(../imgs/h1.png) no-repeat 0px 0px;
}

main section.AbouT .lee .left div .history_txt .el::after {
  background: url(../imgs/h2.png) no-repeat 0px 0px;
}

main section.AbouT .lee .left div .history_txt .mi::after {
  background: url(../imgs/h3.png) no-repeat 0px 0px;
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
}

main section.AbouT .lee .left div .history_txt .hi::after {
  background: url(../imgs/h4.png) no-repeat 0px 0px;
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
}

main section.AbouT .lee .left div .history_txt .han::after {
  background: url(../imgs/h5.png) no-repeat 0px 0px;
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
}

main section.AbouT .lee .left div .history_txt .green::after {
  background: url(../imgs/h6.png) no-repeat 0px 0px;
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
}

main section.AbouT .lee .right {
  float: right;
  width: 74%;
}

main section.AbouT .lee .right article {
  padding: 0 0 5% 0;
}

main section.AbouT .lee .right .mbti div strong {
  font-size: 60px;
  padding-bottom: 60px;
  color: #333;
}

main section.AbouT .lee .right .mbti div > p {
  padding-bottom: 3%;
}

main section.AbouT .lee .right .mbti div .chart {
  text-align: left;
}

main section.AbouT .lee .right .mbti div .chart .graph {
  border: 1px solid black;
  padding: 20px 0 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_l, main section.AbouT .lee .right .mbti div .chart .graph .g_r {
  width: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_l p, main section.AbouT .lee .right .mbti div .chart .graph .g_r p {
  margin-top: 10px;
  text-align: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c {
  width: 80%;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div ul {
  width: 50%;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div ul li {
  height: 80px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div ul li p {
  height: 20px;
  position: relative;
  background: #f3f3f3;
  margin-top: 7px;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div ul li p span {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 0%;
  color: #fff;
  text-indent: 10px;
  font-size: .8em;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div .infp span {
  left: 0;
  right: none;
  text-align: right;
  text-indent: 0px;
  padding-right: 10px;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c > div .f span {
  padding: 0;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active p:first-child span {
  background: #ee5555;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active p:last-child span {
  background: #689f38;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .t .gl1_1 span {
  width: 0%;
  -webkit-animation: t1 1s forwards;
          animation: t1 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .t .gl1_2 span {
  width: 0%;
  -webkit-animation: t2 1s forwards;
          animation: t2 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .i .gr1_1 span {
  width: 0%;
  -webkit-animation: i1 1s forwards;
          animation: i1 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .i .gr1_2 span {
  width: 0%;
  -webkit-animation: i2 1s forwards;
          animation: i2 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .n .gr1_1 span {
  width: 0%;
  -webkit-animation: n1 1s forwards;
          animation: n1 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .n .gr1_2 span {
  width: 0%;
  -webkit-animation: n2 1s forwards;
          animation: n2 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .p .gr1_1 span {
  width: 0%;
  -webkit-animation: p1 1s forwards;
          animation: p1 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c.active .p .gr1_2 span {
  width: 0%;
  -webkit-animation: p2 1s forwards;
          animation: p2 1s forwards;
}

main section.AbouT .lee .right .mbti div .chart .graph .g_c .f span {
  padding-right: 0;
}

@-webkit-keyframes t1 {
  to {
    width: 11%;
  }
}

@keyframes t1 {
  to {
    width: 11%;
  }
}

@-webkit-keyframes t2 {
  to {
    width: 9%;
  }
}

@keyframes t2 {
  to {
    width: 9%;
  }
}

@-webkit-keyframes i1 {
  to {
    width: 27%;
  }
}

@keyframes i1 {
  to {
    width: 27%;
  }
}

@-webkit-keyframes i2 {
  to {
    width: 19%;
  }
}

@keyframes i2 {
  to {
    width: 19%;
  }
}

@-webkit-keyframes n1 {
  to {
    width: 19%;
  }
}

@keyframes n1 {
  to {
    width: 19%;
  }
}

@-webkit-keyframes n2 {
  to {
    width: 3%;
  }
}

@keyframes n2 {
  to {
    width: 3%;
  }
}

@-webkit-keyframes p1 {
  to {
    width: 57%;
  }
}

@keyframes p1 {
  to {
    width: 57%;
  }
}

@-webkit-keyframes p2 {
  to {
    width: 53%;
  }
}

@keyframes p2 {
  to {
    width: 53%;
  }
}

main section.AbouT .lee .right .mbti div .chart .when {
  text-align: center;
}

main section.AbouT .lee .right .mbti div .chart .when p {
  display: inline-block;
  margin-top: 2%;
}

main section.AbouT .lee .right .mbti div .chart .when p:nth-of-type(1) {
  background: no-repeat url("../imgs/bk_red.png");
  background-size: 30px;
}

main section.AbouT .lee .right .mbti div .chart .when p:nth-of-type(2) {
  background: no-repeat url("../imgs/bk_green.png");
  background-size: 30px;
}

main section.AbouT .lee .right .School .H h2 {
  font: 35px;
  padding-bottom: 5%;
}

main section.AbouT .lee .right .School .school_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.AbouT .lee .right .School .school_txt p {
  width: 60%;
  line-height: 1.8;
  letter-spacing: -0.5px;
}

main section.AbouT .lee .right .School .school_txt img {
  width: 40%;
}

main section.AbouT .lee .right .SkilL h2 {
  font: 35px;
  padding-bottom: 5%;
}

main section.AbouT .lee .right .SkilL .Skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.AbouT .lee .right .SkilL .Skill ul {
  width: 46%;
}

main section.AbouT .lee .right .SkilL .Skill ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

main section.AbouT .lee .right .SkilL .Skill ul li img {
  width: 10%;
}

main section.AbouT .lee .right .SkilL .Skill ul li p {
  width: 86%;
  word-break: keep-all;
}

main section.ContacT .myinfo {
  background-image: url("/imgs/uni.jpg");
  padding: 200px 0;
}

main section.ContacT .myinfo ul {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.ContacT .myinfo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 5%;
}

main section.ContacT .myinfo ul li img {
  padding-right: 5%;
}

main section.ContacT .myinfo ul li p:nth-of-type(1) {
  width: 150px;
}

main section.ContacT .myinfo ul li p {
  color: white;
  padding-left: 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gainsboro;
}

footer div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

footer div strong {
  font-size: 30px;
}

section {
  display: none;
}

section:nth-of-type(1) {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* 768 ~ 1024 */
  header div.nav ul {
    padding: 15% 5% 5% 5%;
  }
  header div.nav ul li:nth-of-type(5) {
    padding: 5%;
  }
  header div.nav ul li a strong {
    font: 25px 'Noto Sans KR';
  }
  header div.nav ul li a p {
    font: 13px 'Noto Sans KR';
  }
  main section.PortfoliO .ConcepT1 {
    display: block;
  }
  main section.PortfoliO .ConcepT1 .left {
    width: 100%;
  }
  main section.PortfoliO .ConcepT1 .right {
    width: 100%;
  }
  main section.PortfoliO .ConcepT2 {
    padding: 0;
  }
  main section.PortfoliO .ConcepT2 .star div {
    width: 100%;
  }
  main section.PortfoliO .ConcepT2 .LogO {
    padding-bottom: 5%;
  }
  main section.PortfoliO .ConcepT2 .LogO div:nth-of-type(1) {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main section.PortfoliO .ConcepT2 .LogO div:nth-of-type(1) img {
    width: 35px;
  }
  main section.PortfoliO .ConcepT2 .LogO p {
    text-align: left;
  }
  main section.WorK .thum div .img_txt h5 {
    font-size: 50px;
  }
  main section.WorK .pop > div {
    padding: 0;
  }
  main section.WorK .pop h4 {
    font-size: 35px;
    padding: 20px;
  }
  main section.WorK .pop .pop_about {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  main section.WorK .pop .pop_about img {
    width: 100%;
  }
  main section.AbouT .lee .left {
    position: static;
    width: 100%;
    text-align: center;
  }
  main section.AbouT .lee .left div {
    display: none;
  }
  main section.AbouT .lee .right {
    width: 100%;
  }
  main section.AbouT .lee .right .School .school_txt {
    display: block;
  }
}

@media (max-width: 480px) {
  /* 0 ~ 480 */
  header button img {
    width: 50px;
  }
  header div.nav ul {
    display: block;
    padding: 17% 5% 0% 5%;
  }
  header div.nav ul li {
    width: 100%;
    padding: 0;
  }
  header div.nav ul li a {
    border-bottom: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div.nav ul li a strong {
    font: 25px 'Noto Sans KR';
  }
  header div.nav ul li a p {
    font: 13px 'Noto Sans KR';
  }
  main section.HomE div:nth-of-type(1) {
    padding: 0;
  }
  main section.HomE div:nth-of-type(1) p:nth-of-type(1) {
    font: 50px  'Bungee Shade';
    color: #ee5555;
  }
  main hgroup {
    display: block;
  }
  main section.PortfoliO .ConcepT1 {
    display: block;
  }
  main section.PortfoliO .ConcepT1 .left {
    width: 100%;
  }
  main section.PortfoliO .ConcepT1 .left .rabbit img {
    width: 100%;
  }
  main section.PortfoliO .ConcepT1 .right {
    width: 100%;
  }
  main section.PortfoliO .ConcepT2 {
    padding: 0;
  }
  main section.PortfoliO .ConcepT2 .star div {
    width: 100%;
  }
  main section.PortfoliO .ConcepT2 .LogO {
    padding-bottom: 5%;
  }
  main section.PortfoliO .ConcepT2 .LogO div:nth-of-type(1) {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main section.PortfoliO .ConcepT2 .LogO div:nth-of-type(1) img {
    width: 35px;
  }
  main section.PortfoliO .ConcepT2 .LogO p {
    text-align: left;
  }
  main section.WorK .thum div {
    display: block;
  }
  main section.WorK .thum div img {
    width: 100%;
  }
  main section.WorK .thum div .img_txt {
    width: 100%;
  }
  main section.WorK .thum div .img_txt h5 {
    font-size: 50px;
  }
  main section.WorK .pop > div {
    padding: 0;
  }
  main section.WorK .pop h4 {
    font-size: 35px;
    padding: 20px;
  }
  main section.WorK .pop .pop_about {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  main section.WorK .pop .pop_about img {
    width: 100%;
  }
  main section.WorK .pop .pop_about .pop_txt p {
    display: none;
  }
  main section.WorK .pop .pop_about .pop_txt table {
    margin-top: 0px;
  }
  main section.AbouT .lee .left {
    position: static;
    width: 100%;
    text-align: center;
  }
  main section.AbouT .lee .left div {
    display: none;
  }
  main section.AbouT .lee .right {
    width: 100%;
  }
  main section.AbouT .lee .right .School .school_txt {
    display: block;
  }
  main section.AbouT .lee .right .School .school_txt p {
    width: 100%;
  }
  main section.AbouT .lee .right .School .school_txt img {
    width: 100%;
  }
  main section.AbouT .lee .right .SkilL .Skill {
    display: block;
  }
  main section.AbouT .lee .right .SkilL .Skill ul {
    display: block;
    width: 100%;
  }
  main section.AbouT .lee .right .SkilL .Skill ul li {
    display: block;
    text-align: center;
  }
  main section.AbouT .lee .right .SkilL .Skill ul li img {
    width: 20%;
  }
  main section.AbouT .lee .right .SkilL .Skill ul li p {
    width: 100%;
  }
  main section.ContacT .myinfo {
    padding: 0;
  }
  main section.ContacT .myinfo ul {
    display: block;
    width: 100%;
    padding: 5% 0;
  }
  main section.ContacT .myinfo ul li {
    display: block;
    text-align: center;
  }
  main section.ContacT .myinfo ul li img {
    padding-right: 0%;
  }
  main section.ContacT .myinfo ul li p:nth-of-type(1) {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */