@media (max-width:480px){
 /* 0 ~ 480 */




    header{
        button{img{width:50px;}}
        div.nav{
            ul{display:block;
                padding:17% 5% 0% 5%;
                li{width:100%; 
                    padding:0;
                    a{  
                        border-bottom: 1px solid #fff;
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        strong{font: 25px 'Noto Sans KR';}
                        p{font: 13px 'Noto Sans KR';}
                    }
                }
               
            }
        }
    }



    main{
        section.HomE{
            div:nth-of-type(1){
                padding:0;
                p:nth-of-type(1){
                    font: 50px  'Bungee Shade';
                    color:#ee5555;
                }
            }
        }

        hgroup{display:block;}

        // portfolio
        section.PortfoliO{
            .ConcepT1{
                display:block;
                .left{width:100%;
                    .rabbit{
                        img{width:100%;}
                    }
                }

                .right{width:100%;
                
                }
            }
            .ConcepT2{padding:0;
                .star{
                    div{
                        width: 100%;
                    }
                }
                .LogO{
                    padding-bottom: 5%;
                    div:nth-of-type(1){
                        width: 100%;
                        justify-content: space-around;
                        img{width:35px;}
                    }
                    p{text-align:left;}
                }
                
            }

        }

        // work 
        section.WorK{
            .thum{
                div{ display:block;
                    img{width:100%;}
                    .img_txt{
                        width:100%;
                        h5{font-size: 50px;}
                    }
                }
            }
            .pop{
                &>div{padding:0;}
                h4{font-size: 35px; padding:20px;}
                .pop_about{display:block;
                    width:80%; 
                    margin:0 auto;
                    img{width:100%;}
                    .pop_txt{
                        p{display: none;}
                        table{margin-top:0px;}}
                }
            }


        }



        //about
        section.AbouT{
            .lee{
                .left{ position:static;
                    width:100%;
                    text-align: center;
                    div{display:none;}
                   

                }
                .right{
                    width:100%;
                    .School{
                        .school_txt{
                            display:block;
                        p{width:100%;}
                        img{width:100%;}
                        }
                    }

                    .SkilL{
                        .Skill{display: block;
                            ul{ display: block;
                                width:100%;
                                li{display: block;
                                    text-align: center;
                                    img{width:20%;}
                                    p{
                                        width:100%;
                                    }
                                }
                            }
                            
                        }
                    }
                    
                }

            }

        }

        //contact
        section.ContacT{
            .myinfo{
                padding:0;
                ul{display: block;
                    width:100%;
                    padding:5% 0;
                    li{display: block;
                        text-align: center;
                        img{padding-right:0%;}
                        p:nth-of-type(1){width:100%;}
                    }
                }
            }
            
            


        }


    
    }

}


    
    